/* membuat body berwarna abu-abu dan font bertipe arial dan sans-serif ukuran 16px */
body {
  background-color: gray;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* membuat canvas putih di tengah  */
.container {
  background-color: white;
  margin: 0 auto;
  width: 800px;
}

/* mengatur jarak dalam header  */
.header {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

/* mengatur judul */
.header .judul {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.nav {
  /* membuat display inline-block agar bisa diberikan dimensi */
  padding: 0px;
}

.nav li {
  /* membuat navigasi menjadi horizontal dan mengatur jarak antar menu */
  /* agar menjadi ke samping, tidak ke bawah  */
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
}

.nav li a {
  /* untuk menghilangkan garis bawah pada link navigasi  */
  text-decoration: none;
  color: navy;
}

.nav li a:hover {
  /* membuat animasi saat link disorot */
  background-color: orange;
  color: white;
  transition: 0.5s;
}

.banner {
  /* untuk css banner  */
  height: 300px;
  /* background-color: skyblue */
  /* berikan file gambar */
  background-image: url(../img/mikasa.jpg);
  /* atur ukuran gambar */
  background-size: cover;
  /* mengatur posisi gambar horizontal dan vertikal agar berada di tengah */
  background-position: center;
  /* mengatur garis tepi tebal jenis warna */
  border-top: 5px solid navy;
  border-bottom: 5px solid skyblue;
}

/* untuk isi */
.isi {
  padding: 20px;
}

.isi h2 {
  font-size: 30px;
  font-weight: bold;
}

.isi .penulis {
  font-size: 30 px;
  /* agak naik */
  margin-top: -10px;
}

.isi .penulis a {
  text-decoration: none;
  color: navy;
}

.isi p {
  font-size: 16px;
  margin-bottom: 10px;
  font-style: sans-serif;
}

/* untuk footer */
.footer {
  background-color: navy;
  height: 50px;
  padding: 2px;
}

.footer .copyright {
  font-size: 16px;
  color: white;
  text-align: center;
}
